@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}
<div class="breadcrumbs__section breadcrumbs__section-thin brk-bg-center-cover" style="background-image: url(../../Content/img/1920x258_1.jpg)" data-brk-library="component__breadcrumbs_css">
    <span class="brk-abs-bg-overlay brk-bg-grad opacity-60"></span>
    <div class="breadcrumbs__wrapper">
        <div class="container">
            <div class="row align-items-center">
                 <div class="col-12 col-lg-6">
                      <div class="pr-40 pr-xs-0 breadcrumbs__title">
                          <h2 class="brk-white-font-color font__weight-thin font__size-48 line__height-68 font__family-montserrat">About Trinity Jewells</h2>
                          <h3 class="brkwhite">Check all details</h3>
                      </div>
                 </div>
                  <div class="col-12 col-lg-6">
                       <div class="pt-25 pb-35 position-static position-lg-relative breadcrumbs__subtitle">
                          
                       </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-md-70" style="margin-bottom:50px">
    <div class="brk-tabs brk-tabs-simple-smooth" data-brk-library="component__tabs">
        <div class="brk-tabs-content">
            <div class="brk-tab-item">
                <div class="row m-0 welcome">
                    <p class="text-center mb-30" style="font-size:30px;width:100%;font-weight:600">WELCOME TO TRINITY JEWELLS</p>
                </div>
                <div class="row m-0 ab-text">
                    <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-20">Trinity Jewells is a family business focused on providing high-quality service and customer satisfaction - we will do everything we can to meet your expectations. Our Senior Goldsmith, has over 10 years bench-work experience; he is available for consultations for projects ranging from repair, new design to re-styling project and more! Our staff are friendly, knowledgeable and are at your service.</p>
                    <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-20">Gold jewellery at Trinity Jewells is hallmarked and diamonds certified.Always creative with design, process, product and service.</p>
                    <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-20">Shining bright with a young team focused on innovation, customer happiness and transparency, Trinityjewells.in addresses the growing demands of today's always on-the-go consumers to discover, explore, buy and know more about their jewellery. We believe in the mantra, “Transparency is the key to success” and we highly dedicate our services to the same. We love our customers and our policies provide easy returns, free shipping, BIS Hallmark, 100% certified jewellery, life-time exchange, best and transparent prices and unique designs all under one roof.</p>
                    <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-20">We know you are social and so are we. You can simply find us on Facebook and Instagram.</p>
                    <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-20">Now your favorite designs are just a click away. Think Jewellery, Think Trinity Jewells!</p>
                </div>
                <div class="row about_ing_div mob-nopad">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mob-nopad">
                        <img src="~/Content/promo-4.png" id="" style="width:100%">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 slid_about_img fadeInRight text-center ab-text">
                        <p class="trinity-quote ab-1 brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26">
                            “We have beautiful bridal jewellery in gold, diamond, kundan, jadau and more crafted by the best jewellery designers. You can find both modern and traditional jewellery here. Choose from a wide selection with options for each age group. Whatever decision you make; you are guaranteed to leave fully satisfied. ”
                        </p>
                        <p class="name brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26"><b>- Trinity Jewells</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>