@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Us";
}
<div class="breadcrumbs__section breadcrumbs__section-thin brk-bg-center-cover" style="background-image: url(img/1920x258_1.jpg)" data-brk-library="component__breadcrumbs_css">
    <span class="brk-abs-bg-overlay brk-bg-grad opacity-60"></span>
    <div class="breadcrumbs__wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="d-flex justify-content-lg-end justify-content-start pr-40 pr-xs-0 breadcrumbs__title">
                        <h2 class="brk-white-font-color font__weight-thin font__size-48 line__height-68 font__family-montserrat">Our Services</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="pt-25 pb-35 position-static position-lg-relative breadcrumbs__subtitle">
                        <h3 class="brk-white-font-color font__family-montserrat font__size-18 line__height-21 text-uppercase mb-15">Check all our services</h3>
                        <ol class="breadcrumb font__family-montserrat font__size-15 line__height-16 brk-white-font-color">
                            <li><a href="javascript:void(0)">Bread</a> <i class="fal fa-chevron-right icon"></i></li>
                            <li class="active">Crumbs</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-wrapper">
    <main class="main-container mb-70 mt-100 mt-md-130">
        <section class="mb-70">
            <div class="brk-map brk-map_extra" data-height="420" data-brk-library="component__map">
                <div class="brk-map__canvas" data-address="412 Throop Ave, Brooklyn, NY 11221, USA" data-zoom="13" data-type="roadmap" data-marker="img/gm-3.png" data-offset-lat="" data-offset-lng="" data-style="silver" data-info-window=".info-map"></div>
                <div class="brk-map__subscribe brk-bg-grad">
                    <div class="font__family-montserrat font__size-28 font__weight-light text-uppercase mb-35">Subscribe <span class="font__weight-bold">Now</span></div>
                    <form name="subscribe" action="#">
                        <div class="brk-subscribe brk-subscribe-map"><input name="email" type="email" placeholder="enter-your@mail.com"> <button type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button></div>
                    </form>
                    <ul class="brk-map__subscribe--contacts mt-20">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="javascript:void(0)">info@trinityjewells.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="javascript:void(0)">0261-4000-800</a></li>
                    </ul>
                </div>
            </div>
        </section>
        </main>
    </div>

@section Scripts{
    }
