
@{
    ViewBag.Title = "DownloadApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row dwnld_div">
        <div class="col-md-7 col-sm-12 col-xs-12 text-left icenter app-top">
            <h3 class="get-app">Download App</h3>
            <p class="app_detail1">Trinity is a name synonymous with top quality jewellery known for its enchanting designs. Trinity is known for its quality consciousness, perfection and business ethics.</p>
            <div class="bannertrinity-img row">
                <div class="col-sm-3 col-xs-6">


                    <a href="https://apps.apple.com/in/app/trinityfactoryoutlet/id1459963781" target="_blank">

                        <img src="~/Content/img/ProjectImg/Appstore.png" class="img-responsive" />

                    </a>
                </div>
              
                <div class="col-sm-3 col-xs-6">
                    <a href="https://play.google.com/store/apps/details?id=com.TrinityJewelles.TrinityB2C&hl=en" target="_blank">
                        <img src="~/Content/img/ProjectImg/GooglePlay.png" class="img-responsive" />
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-xs-6 m-t-15 m-b-15 no-pad">
                    <img src="~/Content/img/ProjectImg/qrcode-ios.png" width="130" class="dwn-app" />
                </div>
                <div class="col-sm-3 col-xs-6 m-t-15 m-b-15 no-pad">
                    <img src="~/Content/img/ProjectImg/qrcode.png" width="130" class="dwn-app" />
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 text-center icenter app-sshot">
            <div class="row">
                <div class="col-md-6">
                    <img class="app-banner" src="~/Content/img/ProjectImg/TrinityAppbannerB2C (IphoneX).png" style="width:100%" />
                </div>
                <div class="col-md-6">
                    <img class="app-banner2" src="~/Content/img/ProjectImg/TrinityAppbannerB2C (Android).png" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>

