@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GuidLine";
}

<div class="breadcrumbs__section breadcrumbs__section-thin brk-bg-center-cover" style="background-image: url(img/1920x258_1.jpg)" data-brk-library="component__breadcrumbs_css">
    <span class="brk-abs-bg-overlay brk-bg-grad opacity-60"></span>
    <div class="breadcrumbs__wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="d-flex justify-content-lg-end justify-content-start pr-40 pr-xs-0 breadcrumbs__title">
                        <h2 class="brk-white-font-color font__weight-thin font__size-48 line__height-68 font__family-montserrat">Our Services</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="pt-25 pb-35 position-static position-lg-relative breadcrumbs__subtitle">
                        <h3 class="brk-white-font-color font__family-montserrat font__size-18 line__height-21 text-uppercase mb-15">Check all our services</h3>
                        <ol class="breadcrumb font__family-montserrat font__size-15 line__height-16 brk-white-font-color">
                            <li><a href="javascript:void(0)">Bread</a> <i class="fal fa-chevron-right icon"></i></li>
                            <li class="active">Crumbs</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container mb-40 mt-40">
        <div class="text-left">
            <h3 class="font__family-montserrat font__size-28 font__weight-bold"><span class="heading__number"></span> GuidLine</h3>
        </div>
    </div>
    <div class="container mb-180">
        <div class="brk-tabs brk-tabs-side-left" data-hash="true" data-brk-library="component__tabs">
            <ul class="brk-tabs-nav font__family-montserrat">
                <li class="brk-tab"><i class="far fa-gem" aria-hidden="true"></i><span>Diamond</span><span class="after"></span></li>
                <li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>DIAMOND COLOR</span><span class="after"></span></li>
                <li class="brk-tab"><i class="fab fa-gg" aria-hidden="true"></i><span>DIAMOND CLARITY</span><span class="after"></span></li>
            </ul>
            <div class="brk-tabs-content">
                <div class="brk-tab-item">
                    <h2 class="font__family-montserrat font__weight-bold font__size-30 line__height-42 text-uppercase letter-spacing--100">Diamond Color, Clarity, Cut, Carat</h2>
                    <div class="row no-gutters">
                        <div class="col-lg-7">
                            <p class="text-left mb-20 mt-30"><b>Diamond Color </b> In most diamonds, the term actually refers to the absence of color. The less color in the stone, the more desirable and valuable it is. Some of these differences are not visible to the naked eye, but directly impact the overall quality and price of the stone.</p>
                            <p class="text-left mb-20"><b>Diamond Clarity </b>measures the amount, size and placement of internal ‘inclusions,’ and external ‘blemishes.’ Grades run from ‘Flawless,’ with virtually no imperfections, to ‘Included,’ which contain a significant number of imperfections.</p>
                            <p class="text-left mb-20"><b>Diamond Cut </b>does not refer to a diamond’s shape, but to the proportion and arrangement of its facets and the quality of workmanship. The amount of brilliance, sparkle and fire in a diamond is determined by cut. Grades range from ‘Excellent’ to ‘Poor.’</p>
                            <p class="text-left mb-20"><b>Diamond Carat </b>refers to a diamond’s weight. Generally speaking, the higher the carat weight, the more expensive the stone. Two diamonds of equal carat weight, however, can have very different quality and price when the other three Cs are considered.</p>
                        </div>
                        <div class="col-lg-5">
                            <img src="~/Content/img/gallery/diamondclarity.jpg" data-brk-library="fancybox"/></div>
                    </div>
                </div>
                <div class="brk-tab-item">
                    <h2 class="font__family-montserrat font__weight-bold font__size-30 line__height-52">DIAMOND COLOR</h2>
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="text-left mb-20">While many of these are not common in the market, GIA tests every diamond it grades for their presence.</p>
                            <p class="text-left mb-20">Coating enhances a diamond’s color by masking an undesirable body color with an ultra-thin layer of chemicals or plastics. Another form of coating involves applying a thin film of synthetic diamond to the surface of a diamond simulant, giving it certain characteristics of a real diamond.</p>
                            <p class="text-left mb-20">HPHT stands for a high-pressure, high-temperature. The process is an effective tool for changing the color of certain diamonds, making them colorless, pink, blue, green, yellowish green, or yellow. Outside of a well-equipped grading laboratory, this form of treatment is virtually undetectable.</p>
                        </div>
                        <div class="col-lg-4"><img src="~/Content/img/gallery/diamondclarity.jpg" data-brk-library="fancybox" /></div>
                    </div>
                </div>
                <div class="brk-tab-item">
                    <h2 class="font__family-montserrat font__weight-bold font__size-30 line__height-52">DIAMOND CLARITY</h2>
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="text-left mb-20">While many of these are not common in the market, GIA tests every diamond it grades for their presence.</p>
                            <p class="text-left mb-20">Coating enhances a diamond’s color by masking an undesirable body color with an ultra-thin layer of chemicals or plastics. Another form of coating involves applying a thin film of synthetic diamond to the surface of a diamond simulant, giving it certain characteristics of a real diamond.</p>
                            <p class="text-left mb-20">HPHT stands for a high-pressure, high-temperature. The process is an effective tool for changing the color of certain diamonds, making them colorless, pink, blue, green, yellowish green, or yellow. Outside of a well-equipped grading laboratory, this form of treatment is virtually undetectable.</p>
                        </div>
                        <div class="col-lg-4"><img src="~/Content/img/gallery/diamondclarity.jpg" data-brk-library="fancybox" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>